<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>Our Movie App</title>
</head>

<body>
  <!-- Future edit coming here -->
  <video src="assets/production ID_3946080.mp4" class="tape-vid" autoplay loop playsinline muted></video>
  <!-- Navbar Code -->
  <nav class="navbar navbar-expand-md navbar-light bg-* sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="../index">bmovie</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto" style="list-style: none;">
          <li class="nav-item">
            <a class="nav-link" href="../index">Home</a>
          </li>
          {{!-- <li class="nav-item">
            <a class="nav-link" href="#">Saved Lists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Account</a>
          </li> --}}
          <li class="nav-item">
            <a class="nav-link" href="../login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {{{body}}}
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="js/login.js"></script>
  <script type="text/javascript" src="js/signup.js"></script>
  <script type="text/javascript" src="js/members.js"></script>
    <script src='js/frontpage.js'></script>
</body>

</html>