
<div class="container">
  <div class="row">
    <div>
      <h1 class="text-center">bmovie</h1>
    </div>
  </div>

    <div class="jumbotron">
        <div class="title search-bar">
            <div>
                <h2>What are we watching tonight?</h2>
                <hr class="display-1">
                <div class="form-group">
                    <input type="text" id="search-bar" class="form-control" name="size" placeholder="What are you in the mood for?" />
                    <button type="button" class="btn btn-outline-secondary button-lg" id="search-btn" onclick="$('search-options').toggle();" data-toggle="collapse">Search</button>
                </div>
            </div>
        </div>
    </div>

</div>
